.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #17222D;
  padding: 20px 80px 20px 80px;
  color: #fff;
}

.logocontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logocontainer > a {
  font-size: 1.4rem;
  font-family: var(--type-first);
}

.navitemcontainer {
  display: flex;
  gap: 20px;
}

.navitems > a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  transition: .3s;
}

.navitems > a:hover {
  color: #FF3726;
}

.navitems > a::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #FF3726;
}

.navitems > a:hover::before  {
  border: 2px solid #fff;
}